.mainContainer {
    padding: 20px;
  }

.catalogContainer {
        margin: 0 auto;
        width: 80%
 }

.titleContainer {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}
  
.productImage {
  max-width: 80%;
  height: 80%;
  margin-bottom: 1rem;
}

.modalContent {
  text-align: center;
}