.mainContainer {
    padding: 20px;
  }
  
  .titleContainer {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .alertContainer {
    padding-bottom: 20px;
    text-align: left;
    width: 500px; 
  }

  .devicesTableContainer {
    margin: 0 auto;
    max-width: 800px;
  }

  .backButtonContainer {
    text-align: center;
    margin-top: 20px;
  }