
.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalogContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ant-input {
  height: 24px;
  font-size: 12px;
}